rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /awards/{document} {
      allow read: if true;
      allow write: if false;
    }
    match /metadata/{document} {
      allow read: if true;
      allow write: if false;
    }
  }
}
